/* CSS for create user */
/* CSS kustom untuk mengatur tampilan */
.custom-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.custom-form {
  background-color: rgba(255, 255, 255, 0.8); /* Latar belakang transparan */
  padding: 20px;
  border-radius: 10px;
  border:100px;
}

.biodata {
  background-image: url("https://drive.google.com/uc?id=1WYI-zDvOOwOn_kLVo4YUZ6Eu8zTRU5Xq");
  width: 950px;
  height: 350px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin: 20px auto;
  padding: 40px;
  padding-bottom: 10px;
}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;

}

.databasetab{
  min-height: 100vh;
  background: url("https://drive.google.com/uc?id=1a1GJAtJIWqzzKqq4s513uKZm0-PyAiKB") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.databasetabd{
  min-height: 100vh;
  background: url("https://drive.google.com/uc?id=1kcigTQwb5jjUjRiZ33QmxnbivD08Qdnn") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


main.table{
  width: 82vw;
  height: 80vh;
  background-color: #fff5;
  backdrop-filter:blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

table{
  width: 100%;
}


.table__header{
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb{
  visibility: hidden;
}

.table__body{
  width: 95%;
  max-height: calc(89% - .8rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
}

table, th, td{
  border-collapse: collapse;
  padding: 1rem;

}

thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1de;
}

tbody tr:nth-child(even){
  background-color: #0000000b;
}

tbody tr:hover{
  background-color: #fff6;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* buat ke center */
/* body {
  display: flex;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #717274;
} */

/* membuat box */
/* .box {
  position: relative;
  width: 410px;
  height: 450px;
  background: #000000; 
  border-radius: 8px;
  overflow: hidden;
}

.box form {
  position: absolute;
  inset: 4px;
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form h2 {
  color: #717274;  
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
} */

/* isi input */
/* .box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 0px 10px;
  padding-left: 5px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #f7f7f7;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #717274;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #717274;
  font-size: 0.75em;
  transform: translateY(-34px);
} */

/* garis */
/* .box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #717274;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}

.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #717274;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 25px;
  margin-left: 200px;
  color: #ffffff;
}

.box form input[type="submit"]:active {
  opacity: 0.8;
} */

